.grid-container{
    display: grid;
    background-color: cornsilk;
    /*grid-template-columns: auto auto auto;
    grid-template-rows: 30px auto 50px;*/
    grid-template-areas: 'header header header'
                         'menu main aside'
                         'menu footer footer';    
}

.grid-container div{
    background-color: crimson;
    text-align: center;
    color:white;
    border: 1px solid white;
}
.item1{
    /*grid-column: 1/4; (inicia en la linea 1 y termina en la linea 4 de la columna)
    grid-column: 1 / span 2;
    grid-row: 1 / span 2; (span indica el numero de columnas o filas!)
    grid-area: 1/3/5/5;*/
    grid-area: header;     
}
.item2{
    grid-area: menu;
}
.item3{
    grid-area: main;
}
.item4{
    grid-area: aside;
}
.item5{
    grid-area: footer;
}